extends layout 

block content 
    div=lastTimeVisited
    div=lastDateVisited
    br

    a(href='/login') Login 
    br
    a(href='/landing') New User
    br
    a(href='/graph') Look at the Stats!