extends layout 

block content 
    div=lastTimeVisited
    div=lastDateVisited
    br

    a(href='/login') Login 
    br
    a(href='/landing') New User

    canvas(id='qGraph')
    p Question 1 Graph 