extends layout

block content
    h3=title
    form(method='POST' action='/submitted')
        p Username:
            input(type='text' name='username')
        p Password:
            input(type='text' name='password')
        p Email:
            input(type='text' name='email')
        p Age:
            input(type='text' name='age')
        p Question 1 Answer:
            p(name='questionOneText')
            input(type='radio' name='questionOneA1')
            input(type='radio' name='questionOneA2')
            input(type='radio' name='questionOneA3')
            input(type='radio' name='questionOneA4')
        p Question 2 Answer:
            p(name='questionTwoText')
            input(type='radio' name='quesitonTwoA1')
            input(type='radio' name='quesitonTwoA2')
            input(type='radio' name='quesitonTwoA3')
            input(type='radio' name='quesitonTwoA4')
        p Question 3 Answer:
            p(name='questionThreeText')
            input(type='radio' name='quesitonThreeA1')
            input(type='radio' name='quesitonThreeA2')
            input(type='radio' name='quesitonThreeA3')
            input(type='radio' name='quesitonThreeA4')
        p
            input(type='submit' value='poggers')