extends layout

block content
    head
    body
        form(method='POST' action='/edit')
            p Username (user):
                br
                input(type='text' name='username')
            p Password (pass):
                br
                input(type='text' name='password')
            p
                input(type='submit' value ='Log in')